<div class="container">
    <div class="card-body">
        <div class="card-deck " style="width: 100%">
            <h3 class="text-center">Shopping</h3>
            <a class="fa fa-shopping-cart" routerLink="/shop" style="font-size:36px;color: green;">Cart</a>
            
        </div>
        <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <a class="fa fa-shopping-cart" routerLink="/cart" style="font-size: 35px; padding-left: 38rem; color:orange"></a>
                <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <li class="fa fa-user" style="color: dodgerblue; font-size: 20px"></li>
                            </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <button  class="dropdown-item" type="button" (click)="login()">Login</button>
                          <button class="dropdown-item" type="button" (click)="userProfile()">Profile</button>
                          <button class="dropdown-item" type="button" (click)="showWishlist()">Wishlist</button>
                          <button class="dropdown-item" type="button" (click)="goTocart()">Cart</button>
                        </div>
                      </div>
                      
              </nav>
    </div>
   
        <router-outlet></router-outlet>
   
    

    <div class="card-footer text-muted">
        <h6 style="padding-top: 1em; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic;">&copy;by Pratap</h6>
</div>
</div>

