<div class="container">
    <div class="row">
        <div class="col-mg-6">
            <div class="card">
                <div class="card-header">Product upload</div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="name" name="name" class="form-group">Product Name</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="price" name="price" class="form-group">Product Price</label>
                            <input type="text" name="price" class="form-control" placeholder="INR">
                        </div>
                        <div class="form-group">
                            <label for="desc" name="desc" class="form-group">Product Desc</label>
                            <input type="text" name="desc" class="form-control" placeholder="desc">
                        </div>
                        <div class="form-group">
                            <label for="file" name="image" class="form-group">Product Image</label>
                            <input type="file" name="image" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                           <button type="submit" class="btn btn-success" name="addProduct">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
