<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/profile.png" alt="Card image cap" style="height: 10em">
    <div class="card-body">
      <h5 class="card-title">John</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Orders (2)</li>
      <li class="list-group-item">wishlist (6)</li>
      <li class="list-group-item">Delivered (4)</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Logout</a>
      <a href="#" class="card-link">Help</a>
    </div>
  </div>